body {
    color: rgb(135, 115, 100);
}

.header {
    background: white;
    border-bottom: solid 1px rgb(212, 210, 210);
}

.header__inner {
    margin: 0 auto;
    padding: 8px 8px;
    max-width: 1230px;
    display:flex;
    position:relative;
    justify-content: center;
}

.header__logo {
    font-family: "Alike", serif;
    letter-spacing: 0.05em;
    text-align: center;
    display: block;
    color: rgb(125, 100, 70);
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    justify-content:center;
    align-items: center;
    width:300px;
}

.header-nav {
    align-items: center;
}

.header-nav__link {
    color: #fff;
    text-decoration: none;
}

.header-nav__button {
    font-family: "Alike", serif;
    letter-spacing: 0.05em;
    border: 1px solid rgb(215, 205, 185);
    border-radius: 1px;
    background: rgb(242, 242, 242);
    color: rgb(215, 205, 185);
    font-size: 14px;
    padding:2px;
    width: 72px;
    cursor: pointer;
    text-decoration:none;
    display: block;
    position: absolute;
    right:40px;
    bottom: 40px;
}

.register__container{
    margin: 0 auto;
    width: 100vw;
    height: 90vh;
    background:rgb(237, 230, 220);
    padding: 8px;

}
.register__inner{
    margin: 0 auto;
    width: 50%;
}

.register__heading{
    text-align: center;
    font-family: "Alike", serif;
    letter-spacing: 0.05em;
}

.register__content{
    width: 100%;
    margin: 48px auto;
}

.register__form{
    width: 100%;
    border: 1px solid #b1b1b1;
    border-radius: 8px;
    background: white;
    padding-top: 24px;
    padding-bottom: 32px;

}
.register__form-group{
    margin: 24px auto;
    width: 70%;
}

.register__input--text{
    margin-bottom: 8px;
}

.register__input--text input{
    width: 100%;
    height: 40px;
    border: none;
    background: rgb(242, 242, 242);
    margin: 8px auto;
}

.register__button-submit{
    margin: 0 auto;
    display: block;
    width: 120px;
    height: 40px;
    background: rgb(135, 115, 100);
    color: white;
    border: none;
    margin:24px auto;
}

input::placeholder,
textarea::placeholder {
    color: rgb(125, 100, 70);
    padding-left: 12px;
    font-size: 12px;
}